In [2]:
import os
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
#import geopandas as gpd

In [6]:
TRE_point_data_locations_file = r'C:\Users\bvarugu\Documents\ArcGIS\Projects\TRE_Results_view\Outputs\TRE_Vertical_Disp_point_data_locations_2024Q1.csv'
TRE_point_loc = pd.read_csv(TRE_point_data_locations_file,header =0);
TRE_point_loc.head()

,CODE,Longitude,Latitude,StartDate,DataTable,Shape_Length,Shape_Area
0,EAOJAXM,-121.53793,41.075027,10/7/2020 0:00:00,1,0.004067,0.000001
1,EAOJAXN,-121.53680,41.075027,10/7/2021 0:00:00,1,0.004067,0.000001
2,EAOJAXO,-121.53567,41.075027,10/7/2020 0:00:00,1,0.004067,0.000001
3,EAOJAXY,-121.52433,41.075027,3/7/2015 0:00:00,1,0.004067,0.000001
4,EAOJAY1,-121.52093,41.075027,10/7/2021 0:00:00,1,0.004067,0.000001

In [14]:
from mintpy.utils import ptime, readfile, writefile, utils as ut
def get_corners(atr):
    """Get corners coordinate."""
    length = int(atr['LENGTH'])
    width = int(atr['WIDTH'])
    W = float(atr['X_FIRST'])
    N = float(atr['Y_FIRST'])
    lon_step = float(atr['X_STEP'])
    lat_step = float(atr['Y_STEP'])
    S = N + lat_step * length
    E = W + lon_step * width

    return S, N, W, E, width, length
    
ARIA_vert_timeseries_file= r'C:\Users\bvarugu\Documents\merged_UP_GNSS_corrected_timeseries.h5';
ARIA_vert_ts_atr = readfile.read_attribute(ARIA_vert_timeseries_file);
S, N, W, E, width, length = get_corners(ARIA_vert_ts_atr);
print( S, N, W, E, width, length)

32.999169067 39.0 -123.0 -115.499169667 9001 7201

In [16]:
TRE_point_loc = TRE_point_loc[(TRE_point_loc['Latitude'] >= S) & (TRE_point_loc['Latitude'] <= N) &
                              (TRE_point_loc['Longitude'] >= W) & (TRE_point_loc['Longitude'] <= E)];

In [22]:
DataTable_list = list(np.unique(TRE_point_loc['DataTable']))
print(DataTable_list)

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [24]:
DataTable_counts = TRE_point_loc['DataTable'].value_counts();
print(DataTable_counts)

DataTable
14    274978
12    274978
18    274978
17    274978
16    274978
15    274978
22    274978
13    274978
11    274978
10    274978
9     274978
8     274978
7     274978
6     274970
5     274782
20    274751
21    273769
19    269683
23    236972
4      83669
Name: count, dtype: int64

In [26]:
type(DataTable_counts)

pandas.core.series.Series